@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

/* keep ========================== */
.root { 
    display: flex;
    flex-direction: column;
}

.tag {
    background-color: #705e3f;
    padding: 0.5rem;
    border-radius: 5px;
    font-weight: bold;
    border-radius: 50px;
}

.tag.green {
    color:rgb(5, 255, 5);

}
.tag.orange{
    color: orange;
}
.tag.red {
    color: red;
    
}